// Common styles of the project

html,
body {
    height: 100%;
    font-size: 0.729166666vw;
    box-sizing: border-box !important;
}

.page {
    font-family: "Montserrat", Arial, sans-serif;
    color: #1C1C1C;

    a {
        text-decoration: none;
    }

    &.no-scroll {
        width: 100vw;
        height: 100vh;
        margin: 0px;
        overflow: hidden;
    }
}

.wrapper {
    width: 81.77vw;
    margin: 0 auto;
}

.first-screen {
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/general/BG.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
}

.btn-green,
.btn-orange {
    background: #12C868;
    height: 5.208333333333333vw;
    box-shadow: inset 0 0 1.145833333333333vw rgba(255, 255, 255, 0.25);
    border-radius: 26.04166666666667vw;
    padding: 1.40625vw 5.677083333333333vw 1.510416666666667vw 2.760416666666667vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    transition: 0.3s;

    svg {
        position: absolute;
        top: 2.083333333333333vw;
        right: 3.020833333333333vw;
        width: 1.041666666666667vw;
        height: 1.041666666666667vw;
    }

    &:hover {
        background: #21E27C;
    }
}

.btn-orange {
    background: #F38120;
    padding: 1.40625vw 5.208333333333333vw 1.510416666666667vw 2.916666666666667vw;

    &:hover {
        background: #FD9C49;
    }
}

.mob-header {
    display: none;
}

@media only screen and (max-width: 992px) {

    html,
    body {
        font-size: 30px;
    }

    .mob-header {
        display: flex;
    }

    .first-screen {
        overflow: hidden;
    }

    .btn-green,
    .btn-orange {
        height: 3.75rem;
        box-shadow: inset 0 0 1.375rem rgba(255, 255, 255, 0.25);
        border-radius: 31.25rem;
        padding: 0.875rem 4.9375rem 0.875rem 2.8125rem;

        svg {
            position: absolute;
            top: 1.4375rem;
            right: 3.25rem;
            width: 0.9375rem;
            height: 0.9375rem;
        }
    }
}

@media only screen and (max-width: 600px) {

    html,
    body {
        font-size: 16px;
    }

    .first-screen {
        background-image: url("../img/general/BG-2.png");
        background-position: bottom right;
    }

}
