.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    transition: 0.3s;

    &.open {
        z-index: 100;
        opacity: 1;

        .popup__blur {
            opacity: 0.4;
        }

        .popup__container {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__blur {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        z-index: 1;
        transition: 0.3s;
    }

    &__container {
        width: 28.64583333333333vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        position: relative;
        z-index: 2;
        border-radius: 1.822916666666667vw;
        padding: 3.645833333333333vw 3.489583333333333vw 4.84375vw 3.489583333333333vw;
        box-sizing: border-box;
        transition: 0.3s;
        transform: scale(0.5);
        opacity: 0;
        background-image: url("../img/general/popup-bg.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
    }

    &__close-btn {
        position: absolute;
        width: 1.041666666666667vw;
        height: 1.041666666666667vw;
        top: 2.34375vw;
        right: 2.447916666666667vw;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        width: 14.0625vw;
        margin: 0 auto;
        font-weight: 500;
        font-size: 1.5625vw;
        line-height: 1.5625vw;
        text-align: center;
        letter-spacing: 0.02em;
    }

    &__subtitle {
        width: 16.40625vw;
        font-size: 0.8333333333333333vw;
        line-height: 1.25vw;
        margin-top: 0.7291666666666667vw;
        text-align: center;
    }

    &__work-time {
        margin-top: 1.25vw;
        font-size: 0.625vw;
        line-height: 0.78125vw;
        text-align: center;
    }

    &__form {
        margin-top: 1.458333333333333vw;
        display: flex;
        flex-direction: column;
        padding: 0 1.5625vw;

        &-text {
            margin: 0;
            padding-left: 2.395833333333333vw;
            font-size: 0.625vw;
            line-height: 0.78125vw;
            color: #000000;
            opacity: 0.75;
            margin-bottom: 0.625vw;
        }

        &-input {
            height: 4.427083333333333vw;
            background: #FFFFFF;
            box-shadow: 0 0 2.604166666666667vw rgba(0, 0, 0, 0.05);
            border-radius: 26.04166666666667vw;
            border: none;
            font-size: 0.9375vw;
            line-height: 1.041666666666667vw;
            letter-spacing: 0.02em;
            color: #A7A7A7;
            padding: 1.25vw 2.395833333333333vw;
            box-sizing: border-box;
            outline: none;
            margin-bottom: 1.25vw;

            &:focus {
                border: none;
            }

            &::placeholder {
                color: #A7A7A7;
            }
        }

        &-btn {
            border: none;
            display: flex;
            width: 100%;
            height: 4.427083333333333vw;
            background: #F38120;
            box-shadow: inset 0 0 0.8854166666666667vw rgba(255, 255, 255, 0);
            border-radius: 26.04166666666667vw;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 0.8333333333333333vw;
            line-height: 1.041666666666667vw;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            transition: 0.3s;
            cursor: pointer;
            margin-bottom: 1vw;
            transition: 0.3s;

            &.disabled {
                pointer-events: none;
                opacity: 0.7;
                box-shadow: inset 0 0 0.8854166666666667vw rgba(255, 255, 255, 0.25);
            }

            svg {
                width: 1.041666666666667vw;
                height: 1.041666666666667vw;
                transform: rotate(45deg);
                margin-left: 0.9375vw;
            }

            &:hover {
                background: #FD9C49;
            }
        }

    }

    &__form-agreement {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        span {
            flex-shrink: 0;
            flex-grow: 0;
            width: 0.9375vw;
            height: 0.9375vw;
            border: 0.1041666666666667vw solid #F38120;
            border-radius: 0.2083333333333333vw;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;

            &.checked {
                background-color: #F38120;
            }

            svg {
                width: 0.375vw;
                height: 0.2755208333333333vw;
            }

            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: -1;
            }
        }

        &-text {
            margin: 0;
            padding-left: 0.9895833333333333vw;
            font-weight: 500;
            font-size: 0.625vw;
            line-height: 1.09375vw;

            a {
                color: #F38120;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .popup {
        &__container {
            width: 18.75rem;
            border-radius: 1.822916666666667vw;
            padding: 2.9375rem;
        }

        &__close-btn {
            width: 1rem;
            height: 1rem;
            top: 2.1875rem;
            right: 2.1875rem;
        }

        &__title {
            width: 100%;
            font-size: 1.125rem;
            line-height: 1.875rem;
        }

        &__subtitle {
            width: 100%;
            font-size: 0.5rem;
            line-height: 0.75rem;
            margin-top: 0.625rem;
        }

        &__work-time {
            font-size: 0.5rem;
            line-height: 0.75rem;
            margin-top: 0.625rem;
        }

        &__form {
            margin-top: 0.625rem;
            padding: 0;
            width: 100%;

            &-text {
                padding-left: 0;
                font-size: 0.5rem;
                line-height: 0.75rem;
                margin-bottom: 0.625rem;
            }

            &-input {
                height: 1.875rem;
                box-shadow: 0 0 1.375rem rgba(0, 0, 0, 0.05);
                border-radius: 31.25rem;
                font-size: 0.5rem;
                line-height: 0.75rem;
                padding: 0.875rem 2.8125rem;
                margin-bottom: 0.7rem;
            }

            &-btn {
                height: 1.875rem;
                box-shadow: inset 0 0 1.375rem rgba(255, 255, 255, 0);
                border-radius: 31.25rem;
                font-size: 0.5rem;
                line-height: 0.75rem;
                margin-bottom: 0.7rem;

                &.disabled {
                    box-shadow: inset 0 0 1.375rem rgba(255, 255, 255, 0.25);
                }

                svg {
                    width: 0.75rem;
                    height: 0.75rem;
                    margin-left: 0.8rem;
                }
            }

        }

        &__form-agreement {

            span {
                width: 0.7rem;
                height: 0.7rem;
                border: 0.0625rem solid #F38120;
                border-radius: 0.125rem;

                svg {
                    width: 0.4375rem;
                    height: 0.375rem;
                }

            }

            &-text {
                padding-left: 1rem;
                font-size: 0.5rem;
                line-height: 0.75rem;
            }
        }
    }
}
