<div class="popup" popup-name="callback-popup">
    <div class="popup__blur" popup-close></div>
    <div class="popup__container">
        <div class="popup__title">Быстро оставить заявку</div>
        <div class="popup__subtitle">Введите номер, мы позвоним вам в течение 10 минут в рабочее время</div>
        <div class="popup__work-time">Пн–Пт 9:00 - 18:00, Сб 10:00 - 18:00</div>
        <form action="" class="popup__form" autocomplete="off">
            <p class="popup__form-text">Введите номер телефона</p>
            <input type="text" class="popup__form-input phoneMask_JS" name="phone" placeholder="+7 ( _ _ _ ) _ _ - _ _ - _ _">
            <button class="popup__form-btn disabled" agreement-controll-btn popup-open="thanks-popup">Позвоните мне {{Icon iconName='arrow'}}</button>
            <div class="popup__form-agreement">
                <span class="checkbox-container" agreement-controll-checkbox>
                    <input type="checkbox" class="popup__form-checkbox">
                    {{Icon iconName='check'}}
                </span>
                <p class="popup__form-agreement-text">
                    Нажимая кнопку вы соглашаетесь  с условиями <a href="#" target="_blank">Политики конфиденциальности</a>
                </p>
            </div>
        </form>
        <div class="popup__close-btn" popup-close>
            {{Icon iconName='close'}}
        </div>
    </div>
</div>
<div class="popup" popup-name="thanks-popup">
    <div class="popup__blur" popup-close></div>
    <div class="popup__container">
        <div class="popup__title">Спасибо за обращение!</div>
        <div class="popup__subtitle">Мы позвоним вам в течение 10 минут в рабочее время</div>
        <div class="popup__close-btn" popup-close>
            {{Icon iconName='close'}}
        </div>
    </div>
</div>