.header {

    &__logo {
        width: 1.1979166vw;
        height: 1.1979166vw;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 3.14em;
        padding-bottom: 2.174em;
        border-bottom: 0.05208333vw solid rgba(28, 28, 28, 0.07);
    }

    &__main-content {
        display: flex;
        justify-content: space-between;
        position: relative;
        min-height: 7.70803333vw;

        &>div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &>div:nth-child(1) {
            margin-right: 5.7813vw;
            flex-shrink: 0;
        }

        &>div:nth-child(2) {
            flex-grow: 1;
        }

        &>div:nth-child(3) {
            margin-left: 6.458333vw;
            flex-shrink: 0;
        }
    }

    &__text {
        width: 10.677vw;
        font-size: 0.8571em;
        letter-spacing: 0.05em;
        text-align: center;
        margin-right: 5.781vw;

        p {
            margin: 0;
            margin-bottom: 1em;

            b {
                font-weight: 600;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__price-catalog {
        display: flex;
        align-items: center;

        span {
            width: 2.2396vw;
            height: 2.2396vw;
            border-radius: 50%;
            background: #FFFFFF;
            box-shadow: 0 0 1.30208333vw rgba(0, 0, 0, 0.05);
            margin-right: 0.94vw;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.04em;
            font-size: 0.57vw;
            color: #12C868;
            font-weight: 600;
        }

        a {
            letter-spacing: 0.04em;
            color: #1C1C1C;
            font-weight: 600;
            border-top: 0.1041666vw dotted rgba(18, 200, 104, 0);
            border-bottom: 0.1041666vw dotted rgba(18, 200, 104, 1);
            transition: 0.3s;

            &:hover {
                border-bottom: 0.1041666vw dotted rgba(18, 200, 104, 0);
            }
        }

    }

    &__img {
        width: 14.270833vw;
        height: 7.70833vw;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
        }
    }

    &__consultation {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 6.36197916666vw;

        p {
            font-size: 0.625vw;
            text-align: center;
            letter-spacing: 0.02em;
            color: #1C1C1C;
            display: flex;
            align-items: center;
            margin-top: 0;
            margin-bottom: 0.859375vw;

            &::before {
                content: '';
                width: 0.208333vw;
                height: 0.208333vw;
                border-radius: 50%;
                background: #12C868;
                margin-right: 0.208333vw;

            }

            b {
                font-weight: 700;
                margin-left: 0.208333vw;
            }
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 8.333333vw;

            a {
                width: 2.283854166vw;
                height: 2.283854166vw;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 1vw;
                    height: 1vw;
                }

                &.viber-icon {
                    background-color: #976FCC;
                }

                &.whatsapp-icon {
                    background-color: #12C868;
                }

                &.telegram-icon {
                    background-color: #05A0EB;

                    svg {
                        width: 0.913vw;
                        height: 0.73vw;
                    }
                }
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin: 0;
            margin-bottom: 0.3125vw;
            text-align: center;
            letter-spacing: 0.02em;
            font-size: 0.625vw;

            b {
                font-weight: 700;
            }
        }

        a {
            text-align: center;
            color: #1C1C1C;
            letter-spacing: 0.05em;
            font-size: 1.14583333vw;
            font-weight: 600;
            transition: 0.3s;
            position: relative;
            margin-bottom: 0.3vw;

            &:hover {
                color: #F38120;
            }
        }

        div {
            cursor: pointer;
            font-weight: 600;
            letter-spacing: 0.04em;
            font-size: 0.625vw;
            color: #12C868;
            border-top: 0.1041666vw dotted rgba(18, 200, 104, 0);
            border-bottom: 0.1041666vw dotted rgba(18, 200, 104, 1);
            transition: 0.3s;

            &:hover {
                border-bottom: 0.1041666vw dotted rgba(18, 200, 104, 0);
            }
        }
    }
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    text-transform: uppercase;
    padding: 0;

    &__item {
        margin-right: 5.468vw;

        &:last-child {
            margin-right: 0;
        }

        a {
            color: #1C1C1C;
            font-weight: 600;
            transition: 0.3s;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                right: 50%;
                width: 0%;
                height: 0.05208333vw;
                background-color: #1C1C1C;
                transition: 0.3s;
            }

            &:hover {
                color: #F38120;

                &:after {
                    background-color: #F38120;
                    width: 100%;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {

    .nav-menu {
        flex-direction: column;
        align-items: center;

        &__item {
            font-size: 0.625rem;
            margin-bottom: 1.25rem;
            margin-right: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background: #EDF2F5;
        padding-bottom: 2.5rem;
        z-index: -1;
        opacity: 0;
        transition: 0.3s;
        pointer-events: none;
        overflow-y: scroll;

        .wrapper {
            padding-bottom: 2.5rem;
        }

        &.open {
            z-index: 30;
            pointer-events: all;
            opacity: 1;

            &~.mob-header {
                background: #EDF2F5;
                padding-bottom: 0.3rem;
            }
        }

        &__nav {
            flex-direction: column;
            align-items: center;
            border-bottom: none;
            padding: 0;
            padding-top: 5.5rem;
            padding-bottom: 2rem;
        }

        &__logo {
            width: 1.4375rem;
            height: 1.375rem;
            margin-bottom: 1.25rem;
        }

        &__main-content {
            flex-direction: column;

            &>div {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0;
                width: 100%;

                &:nth-child(1) {
                    margin-right: 0;
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    margin-left: 0;
                }
            }
        }

        &__text {
            width: 12.875rem;
            margin: 0 auto;
            margin-bottom: 1rem;
            font-size: 0.5rem;
            line-height: 0.875rem;
            text-align: center;

            br {
                display: none;
            }
        }

        &__price-catalog {
            margin-bottom: 1rem;

            span {
                width: 2.75rem;
                height: 2.75rem;
                font-size: 0.6875rem;
                margin-right: 1rem;
            }

            a {
                font-size: 0.625rem;
                line-height: 0.75rem;
                letter-spacing: 0.04em;
                border-bottom: 0.0625rem dotted rgb(18, 200, 104);
            }
        }

        &__contacts {
            display: none;
        }

        &__consultation {
            margin-right: 0;

            p {
                font-size: 0.5rem;
                line-height: 0.625rem;
                letter-spacing: 0.02em;
                margin-bottom: 0.6875rem;
            }

            div {
                width: 10rem;

                a {
                    width: 2.6875rem;
                    height: 2.6875rem;

                    svg {
                        width: 1.1875rem;
                        height: 1.1875rem;
                    }

                    &.telegram-icon {
                        svg {
                            width: 1.0625rem;
                            height: 0.875rem;
                        }
                    }
                }
            }

        }
    }

    .mob-header {
        width: 20rem;
        padding: 0 1.375rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin: 0 auto;
        position: relative;
        z-index: 35;

        &__img {
            width: 4.6875rem;
            height: 3.25rem;
            margin-right: 1.375rem;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 1.375rem;

            p {
                margin: 0;
                margin-bottom: 0.25rem;
                text-align: center;
                letter-spacing: 0.02em;
                font-size: 0.4375rem;
                padding-top: 0.625rem;

                b {
                    font-weight: 700;
                }
            }

            a {
                text-align: center;
                color: #1C1C1C;
                font-size: 0.875rem;
                font-weight: 600;
                transition: 0.3s;
                position: relative;
                margin-bottom: 0.3vw;
                margin-bottom: 0.25rem;

                &:hover {
                    color: #F38120;
                }
            }

            div {
                cursor: pointer;
                font-weight: 600;
                font-size: 0.625rem;
                color: #12C868;
                border-top: 0.125rem dotted rgba(18, 200, 104, 0);
                border-bottom: 0.125rem dotted rgba(18, 200, 104, 1);
                transition: 0.3s;

                &:hover {
                    border-bottom: 0.125rem dotted rgba(18, 200, 104, 0);
                }
            }
        }

        &__btn {
            width: 1.25rem;
            height: 0.9375rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            span {
                width: 1.25rem;
                height: 0.125rem;
                background-color: #1C1C1C;
                border-radius: 0.0625rem;
                transition: 0.3s;
            }

            &.active {
                span {
                    &:nth-child(1) {
                        transform: rotate(45deg);
                        transform-origin: top left;
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                        transform-origin: bottom left;
                    }
                }
            }
        }
    }
}
