<header class="header">
    <div class="wrapper">
        <nav class="header__nav">
            <div class="header__logo">
                <a href="#">
                    {{Icon iconName='logo' className='header__logo-icon'}}
                </a>
            </div>
            <ul class="nav-menu">
                <li class="nav-menu__item"><a href="#">каталог</a></li>
                <li class="nav-menu__item"><a href="#">Преимущества</a></li>
                <li class="nav-menu__item"><a href="#">Примеры работ</a></li>
                <li class="nav-menu__item"><a href="#">монтаж</a></li>
                <li class="nav-menu__item"><a href="#">отзывы</a></li>
                <li class="nav-menu__item"><a href="#">Ответы на вопросы</a></li>
                <li class="nav-menu__item"><a href="#">контакты</a></li>
            </ul>
        </nav>
        <div class="header__main-content">
            <div>
                <div class="header__text">
                    <p><b>Кровельные и фасадные материалы</b> в Тюмени и области.<br><br> Профессиональный монтаж с 2010
                        года.</p>
                </div>
                <div class="header__price-catalog">
                    <span>Pdf</span>
                    <a href="/static/img/general/logo-img.png" download>Скачать прайс-каталог</a>
                </div>
            </div>
            <div>
                <div class="header__img">
                    <img src="static/img/general/logo-img.png" alt="logo-img.png">
                </div>
            </div>
            <div>
                <div class="header__consultation">
                    <p>Отвечаем <b>онлайн</b></p>
                    <div>
                        <a href="https://www.viber.com/ru/" target="_blank"
                            class="viber-icon">{{Icon iconName='viber'}}</a>
                        <a href="https://www.whatsapp.com/?lang=ru" target="_blank"
                            class="whatsapp-icon">{{Icon iconName='whatsapp'}}</a>
                        <a href="https://web.telegram.org/" target="_blank"
                            class="telegram-icon">{{Icon iconName='telegram'}}</a>
                    </div>
                </div>
                <div class="header__contacts">
                    <p><b>Пн-Пт</b> 9:00 - 18:00, <b>Сб</b> 10:00 - 18:00</p>
                    <a href="callto:#">8 (800) 222-54-60</a>
                    <div popup-open="callback-popup">Позвоните мне</div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mob-header">
    <div class="mob-header__img">
        <img src="static/img/general/logo-img.png" alt="logo-img.png">
    </div>
    <div class="mob-header__contacts">
        <p><b>Пн-Пт</b> 9:00 - 18:00, <b>Сб</b> 10:00 - 18:00</p>
        <a href="callto:#">8 (800) 222-54-60</a>
        <div popup-open="callback-popup">Позвоните мне</div>
    </div>
    <div class="mob-header__btn" header-open>
        <span></span><span></span><span></span>
    </div>
</div>
