/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Light.svg?#webfont") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-LightItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-LightItalic.svg?#webfont") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Regular.svg?#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Italic.eot");
  src: url("../fonts/Montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Italic.svg?#webfont") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Medium.svg?#webfont") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-MediumItalic.svg?#webfont") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-SemiBold.svg?#webfont") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.svg?#webfont") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Bold.svg?#webfont") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-BoldItalic.svg?#webfont") format("svg");
  font-weight: 700;
  font-style: italic;
}
html,
body {
  height: 100%;
  font-size: 0.729166666vw;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.page {
  font-family: "Montserrat", Arial, sans-serif;
  color: #1C1C1C;
}
.page a {
  text-decoration: none;
}
.page.no-scroll {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

.wrapper {
  width: 81.77vw;
  margin: 0 auto;
}

.first-screen {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/general/BG.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.btn-green,
.btn-orange {
  background: #12C868;
  height: 5.2083333333vw;
  -webkit-box-shadow: inset 0 0 1.1458333333vw rgba(255, 255, 255, 0.25);
          box-shadow: inset 0 0 1.1458333333vw rgba(255, 255, 255, 0.25);
  border-radius: 26.0416666667vw;
  padding: 1.40625vw 5.6770833333vw 1.5104166667vw 2.7604166667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-green svg,
.btn-orange svg {
  position: absolute;
  top: 2.0833333333vw;
  right: 3.0208333333vw;
  width: 1.0416666667vw;
  height: 1.0416666667vw;
}
.btn-green:hover,
.btn-orange:hover {
  background: #21E27C;
}

.btn-orange {
  background: #F38120;
  padding: 1.40625vw 5.2083333333vw 1.5104166667vw 2.9166666667vw;
}
.btn-orange:hover {
  background: #FD9C49;
}

.mob-header {
  display: none;
}

@media only screen and (max-width: 992px) {
  html,
body {
    font-size: 30px;
  }

  .mob-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .first-screen {
    overflow: hidden;
  }

  .btn-green,
.btn-orange {
    height: 3.75rem;
    -webkit-box-shadow: inset 0 0 1.375rem rgba(255, 255, 255, 0.25);
            box-shadow: inset 0 0 1.375rem rgba(255, 255, 255, 0.25);
    border-radius: 31.25rem;
    padding: 0.875rem 4.9375rem 0.875rem 2.8125rem;
  }
  .btn-green svg,
.btn-orange svg {
    position: absolute;
    top: 1.4375rem;
    right: 3.25rem;
    width: 0.9375rem;
    height: 0.9375rem;
  }
}
@media only screen and (max-width: 600px) {
  html,
body {
    font-size: 16px;
  }

  .first-screen {
    background-image: url("../img/general/BG-2.png");
    background-position: bottom right;
  }
}
.first-screen-content {
  padding-top: 4.375vw;
}
.first-screen-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.first-screen-content aside {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 11.71875vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 1.5625vw;
  padding-top: 1.6145833333vw;
  padding-bottom: 2.13541666vw;
  margin-right: 3.6979166667vw;
  background-color: #fff;
  border-bottom-left-radius: 1.041666vw;
  border-bottom-right-radius: 1.041666vw;
  border-radius: 1.041666vw;
  position: relative;
  -webkit-box-shadow: 0 0 3.90625vw rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 3.90625vw rgba(0, 0, 0, 0.03);
}
.first-screen-content aside button {
  display: none;
}
.first-screen-content aside div {
  margin-bottom: 2.5vw;
  text-align: center;
  font-size: 0.7291666667vw;
  line-height: 1.14583333vw;
}
.first-screen-content aside div:last-child {
  margin-bottom: 0;
}
.first-screen-content__title {
  width: 33.59375vw;
  font-weight: 300;
  font-size: 2.86458333vw;
  line-height: 4.42708333vw;
  margin: 0;
  margin-bottom: 0.9895vw;
}
.first-screen-content__title b {
  font-weight: 600;
}
.first-screen-content__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.34375vw;
}
.first-screen-content__subtitle span {
  width: 0.4796875vw;
  height: 0.4796875vw;
  border-radius: 50%;
  border: 0.078125vw solid #12C868;
  margin-left: 0.3671875vw;
  margin-top: 0.1041666vw;
}
.first-screen-content__subtitle span:first-child {
  margin-left: 0;
}
.first-screen-content__subtitle span:nth-child(2) {
  opacity: 0.75;
}
.first-screen-content__subtitle span:nth-child(3) {
  opacity: 0.5;
}
.first-screen-content__subtitle span:nth-child(4) {
  opacity: 0.25;
}
.first-screen-content__subtitle p {
  margin: 0;
  font-weight: 400;
  font-size: 1.666666666vw;
  margin-left: 0.833333vw;
}
.first-screen-content__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.9791666667vw;
}
.first-screen-content__btn-container div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.first-screen-content__btn-container div:nth-child(1) {
  width: 19.53125vw;
  margin-right: 1vw;
}
.first-screen-content__btn-container div:nth-child(2) {
  width: 17.4479166667vw;
}
.first-screen-content__btn-container p {
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-size: 0.7291666667vw;
  color: #FFFFFF;
  margin: 0;
}
.first-screen-content__gifts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.first-screen-content__gifts svg {
  width: 1.3541666667vw;
  height: 1.0416666667vw;
  margin-right: 0.8333333333vw;
}
.first-screen-content__gifts p {
  margin: 0;
  width: 12.1875vw;
  font-size: 0.7291666667vw;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.1458333333vw;
}
.first-screen-content__gifts p b {
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .first-screen-content {
    padding-top: 2.125rem;
    height: 100%;
  }
  .first-screen-content .wrapper {
    width: 20rem;
    height: 100%;
    padding: 0 1.375rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
  }
  .first-screen-content .wrapper > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .first-screen-content aside {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 12.5rem;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1.8125rem 2.8125rem 1.5rem 1.4375rem;
    margin-right: 0;
    border-radius: 1.25rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    position: relative;
    -webkit-box-shadow: 0 0 4.6875rem rgba(0, 0, 0, 0.03);
            box-shadow: 0 0 4.6875rem rgba(0, 0, 0, 0.03);
    margin: 0 auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateY(22%);
            transform: translateY(22%);
    position: relative;
    z-index: 10;
  }
  .first-screen-content aside button {
    display: block;
    position: absolute;
    width: 2.0625rem;
    height: 2.0625rem;
    border-radius: 50%;
    top: 1.9375rem;
    right: 0.875rem;
    border: none;
    background: #F38120;
    -webkit-box-shadow: inset 0px 0px 1.375rem rgba(255, 255, 255, 0.25);
            box-shadow: inset 0px 0px 1.375rem rgba(255, 255, 255, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .first-screen-content aside button svg {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 0.5625rem;
    height: 0.5625rem;
  }
  .first-screen-content aside.open {
    border-radius: 1.25rem;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  .first-screen-content aside.open svg {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 0.75rem;
    height: 0.75rem;
  }
  .first-screen-content aside div {
    width: 120px;
    margin-bottom: 1.75rem;
    font-size: 0.625rem;
    line-height: 1.0625rem;
  }
  .first-screen-content__title {
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: center;
    margin-bottom: 0.3125rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .first-screen-content__subtitle {
    margin-bottom: 1rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .first-screen-content__subtitle span {
    width: 0.375rem;
    height: 0.375rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .first-screen-content__subtitle p {
    font-size: 0.8125rem;
    line-height: 1rem;
  }
  .first-screen-content__btn-container {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first-screen-content__btn-container div {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .first-screen-content__btn-container div:nth-child(1) {
    width: 17.25rem;
    margin-right: 0;
    margin-bottom: 0.75rem;
  }
  .first-screen-content__btn-container div:nth-child(2) {
    width: 17.25rem;
  }
  .first-screen-content__btn-container div p {
    font-size: 0.625rem;
    line-height: 1rem;
  }
  .first-screen-content__gifts {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.75rem;
  }
  .first-screen-content__gifts svg {
    width: 0.75rem;
    height: 0.625rem;
    margin: 0;
    margin-bottom: 0.375rem;
  }
  .first-screen-content__gifts p {
    font-size: 0.5rem;
    line-height: 0.75rem;
    width: 12.1875rem;
  }
}
.header__logo {
  width: 1.1979166vw;
  height: 1.1979166vw;
}
.header__logo svg {
  width: 100%;
  height: 100%;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3.14em;
  padding-bottom: 2.174em;
  border-bottom: 0.05208333vw solid rgba(28, 28, 28, 0.07);
}
.header__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 7.70803333vw;
}
.header__main-content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__main-content > div:nth-child(1) {
  margin-right: 5.7813vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__main-content > div:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__main-content > div:nth-child(3) {
  margin-left: 6.458333vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__text {
  width: 10.677vw;
  font-size: 0.8571em;
  letter-spacing: 0.05em;
  text-align: center;
  margin-right: 5.781vw;
}
.header__text p {
  margin: 0;
  margin-bottom: 1em;
}
.header__text p b {
  font-weight: 600;
}
.header__text p:last-child {
  margin-bottom: 0;
}
.header__price-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__price-catalog span {
  width: 2.2396vw;
  height: 2.2396vw;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 1.30208333vw rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 1.30208333vw rgba(0, 0, 0, 0.05);
  margin-right: 0.94vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.04em;
  font-size: 0.57vw;
  color: #12C868;
  font-weight: 600;
}
.header__price-catalog a {
  letter-spacing: 0.04em;
  color: #1C1C1C;
  font-weight: 600;
  border-top: 0.1041666vw dotted rgba(18, 200, 104, 0);
  border-bottom: 0.1041666vw dotted rgb(18, 200, 104);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__price-catalog a:hover {
  border-bottom: 0.1041666vw dotted rgba(18, 200, 104, 0);
}
.header__img {
  width: 14.270833vw;
  height: 7.70833vw;
  position: relative;
}
.header__img img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.header__consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 6.3619791667vw;
}
.header__consultation p {
  font-size: 0.625vw;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1C1C1C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0.859375vw;
}
.header__consultation p::before {
  content: "";
  width: 0.208333vw;
  height: 0.208333vw;
  border-radius: 50%;
  background: #12C868;
  margin-right: 0.208333vw;
}
.header__consultation p b {
  font-weight: 700;
  margin-left: 0.208333vw;
}
.header__consultation div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8.333333vw;
}
.header__consultation div a {
  width: 2.283854166vw;
  height: 2.283854166vw;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__consultation div a svg {
  width: 1vw;
  height: 1vw;
}
.header__consultation div a.viber-icon {
  background-color: #976FCC;
}
.header__consultation div a.whatsapp-icon {
  background-color: #12C868;
}
.header__consultation div a.telegram-icon {
  background-color: #05A0EB;
}
.header__consultation div a.telegram-icon svg {
  width: 0.913vw;
  height: 0.73vw;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contacts p {
  margin: 0;
  margin-bottom: 0.3125vw;
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 0.625vw;
}
.header__contacts p b {
  font-weight: 700;
}
.header__contacts a {
  text-align: center;
  color: #1C1C1C;
  letter-spacing: 0.05em;
  font-size: 1.14583333vw;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  margin-bottom: 0.3vw;
}
.header__contacts a:hover {
  color: #F38120;
}
.header__contacts div {
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.04em;
  font-size: 0.625vw;
  color: #12C868;
  border-top: 0.1041666vw dotted rgba(18, 200, 104, 0);
  border-bottom: 0.1041666vw dotted rgb(18, 200, 104);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__contacts div:hover {
  border-bottom: 0.1041666vw dotted rgba(18, 200, 104, 0);
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  text-transform: uppercase;
  padding: 0;
}
.nav-menu__item {
  margin-right: 5.468vw;
}
.nav-menu__item:last-child {
  margin-right: 0;
}
.nav-menu__item a {
  color: #1C1C1C;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.nav-menu__item a:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  right: 50%;
  width: 0%;
  height: 0.05208333vw;
  background-color: #1C1C1C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-menu__item a:hover {
  color: #F38120;
}
.nav-menu__item a:hover:after {
  background-color: #F38120;
  width: 100%;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 992px) {
  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-menu__item {
    font-size: 0.625rem;
    margin-bottom: 1.25rem;
    margin-right: 0;
  }
  .nav-menu__item:last-child {
    margin-bottom: 0;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #EDF2F5;
    padding-bottom: 2.5rem;
    z-index: -1;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    pointer-events: none;
    overflow-y: scroll;
  }
  .header .wrapper {
    padding-bottom: 2.5rem;
  }
  .header.open {
    z-index: 30;
    pointer-events: all;
    opacity: 1;
  }
  .header.open ~ .mob-header {
    background: #EDF2F5;
    padding-bottom: 0.3rem;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: none;
    padding: 0;
    padding-top: 5.5rem;
    padding-bottom: 2rem;
  }
  .header__logo {
    width: 1.4375rem;
    height: 1.375rem;
    margin-bottom: 1.25rem;
  }
  .header__main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__main-content > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    width: 100%;
  }
  .header__main-content > div:nth-child(1) {
    margin-right: 0;
  }
  .header__main-content > div:nth-child(2) {
    display: none;
  }
  .header__main-content > div:nth-child(3) {
    margin-left: 0;
  }
  .header__text {
    width: 12.875rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: 0.5rem;
    line-height: 0.875rem;
    text-align: center;
  }
  .header__text br {
    display: none;
  }
  .header__price-catalog {
    margin-bottom: 1rem;
  }
  .header__price-catalog span {
    width: 2.75rem;
    height: 2.75rem;
    font-size: 0.6875rem;
    margin-right: 1rem;
  }
  .header__price-catalog a {
    font-size: 0.625rem;
    line-height: 0.75rem;
    letter-spacing: 0.04em;
    border-bottom: 0.0625rem dotted rgb(18, 200, 104);
  }
  .header__contacts {
    display: none;
  }
  .header__consultation {
    margin-right: 0;
  }
  .header__consultation p {
    font-size: 0.5rem;
    line-height: 0.625rem;
    letter-spacing: 0.02em;
    margin-bottom: 0.6875rem;
  }
  .header__consultation div {
    width: 10rem;
  }
  .header__consultation div a {
    width: 2.6875rem;
    height: 2.6875rem;
  }
  .header__consultation div a svg {
    width: 1.1875rem;
    height: 1.1875rem;
  }
  .header__consultation div a.telegram-icon svg {
    width: 1.0625rem;
    height: 0.875rem;
  }

  .mob-header {
    width: 20rem;
    padding: 0 1.375rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 35;
  }
  .mob-header__img {
    width: 4.6875rem;
    height: 3.25rem;
    margin-right: 1.375rem;
  }
  .mob-header__img img {
    width: 100%;
    height: 100%;
  }
  .mob-header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 1.375rem;
  }
  .mob-header__contacts p {
    margin: 0;
    margin-bottom: 0.25rem;
    text-align: center;
    letter-spacing: 0.02em;
    font-size: 0.4375rem;
    padding-top: 0.625rem;
  }
  .mob-header__contacts p b {
    font-weight: 700;
  }
  .mob-header__contacts a {
    text-align: center;
    color: #1C1C1C;
    font-size: 0.875rem;
    font-weight: 600;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    margin-bottom: 0.3vw;
    margin-bottom: 0.25rem;
  }
  .mob-header__contacts a:hover {
    color: #F38120;
  }
  .mob-header__contacts div {
    cursor: pointer;
    font-weight: 600;
    font-size: 0.625rem;
    color: #12C868;
    border-top: 0.125rem dotted rgba(18, 200, 104, 0);
    border-bottom: 0.125rem dotted rgb(18, 200, 104);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .mob-header__contacts div:hover {
    border-bottom: 0.125rem dotted rgba(18, 200, 104, 0);
  }
  .mob-header__btn {
    width: 1.25rem;
    height: 0.9375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mob-header__btn span {
    width: 1.25rem;
    height: 0.125rem;
    background-color: #1C1C1C;
    border-radius: 0.0625rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .mob-header__btn.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  .mob-header__btn.active span:nth-child(2) {
    opacity: 0;
  }
  .mob-header__btn.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
}
.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.popup.open {
  z-index: 100;
  opacity: 1;
}
.popup.open .popup__blur {
  opacity: 0.4;
}
.popup.open .popup__container {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.popup__blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.popup__container {
  width: 28.6458333333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  position: relative;
  z-index: 2;
  border-radius: 1.8229166667vw;
  padding: 3.6458333333vw 3.4895833333vw 4.84375vw 3.4895833333vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  background-image: url("../img/general/popup-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}
.popup__close-btn {
  position: absolute;
  width: 1.0416666667vw;
  height: 1.0416666667vw;
  top: 2.34375vw;
  right: 2.4479166667vw;
  cursor: pointer;
}
.popup__close-btn svg {
  width: 100%;
  height: 100%;
}
.popup__title {
  width: 14.0625vw;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.5625vw;
  line-height: 1.5625vw;
  text-align: center;
  letter-spacing: 0.02em;
}
.popup__subtitle {
  width: 16.40625vw;
  font-size: 0.8333333333vw;
  line-height: 1.25vw;
  margin-top: 0.7291666667vw;
  text-align: center;
}
.popup__work-time {
  margin-top: 1.25vw;
  font-size: 0.625vw;
  line-height: 0.78125vw;
  text-align: center;
}
.popup__form {
  margin-top: 1.4583333333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1.5625vw;
}
.popup__form-text {
  margin: 0;
  padding-left: 2.3958333333vw;
  font-size: 0.625vw;
  line-height: 0.78125vw;
  color: #000000;
  opacity: 0.75;
  margin-bottom: 0.625vw;
}
.popup__form-input {
  height: 4.4270833333vw;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 2.6041666667vw rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 2.6041666667vw rgba(0, 0, 0, 0.05);
  border-radius: 26.0416666667vw;
  border: none;
  font-size: 0.9375vw;
  line-height: 1.0416666667vw;
  letter-spacing: 0.02em;
  color: #A7A7A7;
  padding: 1.25vw 2.3958333333vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin-bottom: 1.25vw;
}
.popup__form-input:focus {
  border: none;
}
.popup__form-input::-webkit-input-placeholder {
  color: #A7A7A7;
}
.popup__form-input::-moz-placeholder {
  color: #A7A7A7;
}
.popup__form-input:-ms-input-placeholder {
  color: #A7A7A7;
}
.popup__form-input::-ms-input-placeholder {
  color: #A7A7A7;
}
.popup__form-input::placeholder {
  color: #A7A7A7;
}
.popup__form-btn {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4.4270833333vw;
  background: #F38120;
  -webkit-box-shadow: inset 0 0 0.8854166667vw rgba(255, 255, 255, 0);
          box-shadow: inset 0 0 0.8854166667vw rgba(255, 255, 255, 0);
  border-radius: 26.0416666667vw;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 0.8333333333vw;
  line-height: 1.0416666667vw;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 1vw;
  transition: 0.3s;
}
.popup__form-btn.disabled {
  pointer-events: none;
  opacity: 0.7;
  -webkit-box-shadow: inset 0 0 0.8854166667vw rgba(255, 255, 255, 0.25);
          box-shadow: inset 0 0 0.8854166667vw rgba(255, 255, 255, 0.25);
}
.popup__form-btn svg {
  width: 1.0416666667vw;
  height: 1.0416666667vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 0.9375vw;
}
.popup__form-btn:hover {
  background: #FD9C49;
}
.popup__form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.popup__form-agreement span {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 0.9375vw;
  height: 0.9375vw;
  border: 0.1041666667vw solid #F38120;
  border-radius: 0.2083333333vw;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.popup__form-agreement span.checked {
  background-color: #F38120;
}
.popup__form-agreement span svg {
  width: 0.375vw;
  height: 0.2755208333vw;
}
.popup__form-agreement span input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}
.popup__form-agreement-text {
  margin: 0;
  padding-left: 0.9895833333vw;
  font-weight: 500;
  font-size: 0.625vw;
  line-height: 1.09375vw;
}
.popup__form-agreement-text a {
  color: #F38120;
}
.popup__form-agreement-text a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 992px) {
  .popup__container {
    width: 18.75rem;
    border-radius: 1.8229166667vw;
    padding: 2.9375rem;
  }
  .popup__close-btn {
    width: 1rem;
    height: 1rem;
    top: 2.1875rem;
    right: 2.1875rem;
  }
  .popup__title {
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.875rem;
  }
  .popup__subtitle {
    width: 100%;
    font-size: 0.5rem;
    line-height: 0.75rem;
    margin-top: 0.625rem;
  }
  .popup__work-time {
    font-size: 0.5rem;
    line-height: 0.75rem;
    margin-top: 0.625rem;
  }
  .popup__form {
    margin-top: 0.625rem;
    padding: 0;
    width: 100%;
  }
  .popup__form-text {
    padding-left: 0;
    font-size: 0.5rem;
    line-height: 0.75rem;
    margin-bottom: 0.625rem;
  }
  .popup__form-input {
    height: 1.875rem;
    -webkit-box-shadow: 0 0 1.375rem rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 1.375rem rgba(0, 0, 0, 0.05);
    border-radius: 31.25rem;
    font-size: 0.5rem;
    line-height: 0.75rem;
    padding: 0.875rem 2.8125rem;
    margin-bottom: 0.7rem;
  }
  .popup__form-btn {
    height: 1.875rem;
    -webkit-box-shadow: inset 0 0 1.375rem rgba(255, 255, 255, 0);
            box-shadow: inset 0 0 1.375rem rgba(255, 255, 255, 0);
    border-radius: 31.25rem;
    font-size: 0.5rem;
    line-height: 0.75rem;
    margin-bottom: 0.7rem;
  }
  .popup__form-btn.disabled {
    -webkit-box-shadow: inset 0 0 1.375rem rgba(255, 255, 255, 0.25);
            box-shadow: inset 0 0 1.375rem rgba(255, 255, 255, 0.25);
  }
  .popup__form-btn svg {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.8rem;
  }
  .popup__form-agreement span {
    width: 0.7rem;
    height: 0.7rem;
    border: 0.0625rem solid #F38120;
    border-radius: 0.125rem;
  }
  .popup__form-agreement span svg {
    width: 0.4375rem;
    height: 0.375rem;
  }
  .popup__form-agreement-text {
    padding-left: 1rem;
    font-size: 0.5rem;
    line-height: 0.75rem;
  }
}