<div class="first-screen-content">
    <div class="wrapper">
        <aside class="benefits">
            <button class="benefits-open">{{Icon iconName='pluse'}}</button>
            <div><b>Гарантия от 50 лет</b> на материалы и 5 лет на монтаж</div>
            <div><b>Замер, монтажный проект</b> и еще 4 услуги бесплатно </div>
            <div><b>Сметы точны</b> до копейки </div>
            <div><b>Поэтапная оплата,</b> кредит или рассрочка </div>
            <div><b>Наши крыши в каждом поселке</b> и дачном сообществе региона </div>
        </aside>
        <div>
            <h1 class="first-screen-content__title">Продажа <b>кровельных материалов</b> в Тюмени и Тюменской области</h1>
            <div class="first-screen-content__subtitle">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <p>и монтаж под ключ</p>
            </div>
            <div class="first-screen-content__btn-container">
                <div class="btn-green"><p>Рассчитать стоимость материалов и монтажа</p> {{Icon iconName='arrow' className='btn-arrow'}}</div>
                <div class="btn-orange"><p>записаться на просмотр объектов</p> {{Icon iconName='arrow' className='btn-arrow'}}
                </div>
            </div>
            <div class="first-screen-content__gifts">
                {{Icon iconName='pointer'}}
                <p><b>Ответьте на несколько вопросов и получите</b> сметную стоимость и 3 подарка за экономию нашего времени</p>
            </div>
        </div>
    </div>
</div>
