.first-screen-content {
    padding-top: 4.375vw;

    .wrapper {
        display: flex;
    }

    aside {
        box-sizing: border-box;
        width: 11.71875vw;
        flex-shrink: 0;
        flex-grow: 0;
        padding: 1.5625vw;
        padding-top: 1.6145833333vw;
        padding-bottom: 2.13541666vw;
        margin-right: 3.6979166667vw;
        background-color: #fff;
        border-bottom-left-radius: 1.041666vw;
        border-bottom-right-radius: 1.041666vw;
        border-radius: 1.041666vw;
        position: relative;
        box-shadow: 0 0 3.90625vw rgba(0, 0, 0, 0.03);

        button {
            display: none;
        }

        div {
            margin-bottom: 2.5vw;
            text-align: center;
            font-size: 0.7291666667vw;
            line-height: 1.14583333vw;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        width: 33.59375vw;
        font-weight: 300;
        font-size: 2.86458333vw;
        line-height: 4.42708333vw;
        margin: 0;
        margin-bottom: 0.9895vw;

        b {
            font-weight: 600;
        }
    }

    &__subtitle {
        display: flex;
        align-items: center;
        margin-bottom: 2.34375vw;

        span {
            width: 0.4796875vw;
            height: 0.4796875vw;
            border-radius: 50%;
            border: 0.078125vw solid #12C868;
            margin-left: 0.3671875vw;
            margin-top: 0.1041666vw;

            &:first-child {
                margin-left: 0;
            }

            &:nth-child(2) {
                opacity: 0.75;
            }

            &:nth-child(3) {
                opacity: 0.5;
            }

            &:nth-child(4) {
                opacity: 0.25;
            }
        }

        p {
            margin: 0;
            font-weight: 400;
            font-size: 1.666666666vw;
            margin-left: 0.833333vw;
        }
    }

    &__btn-container {
        display: flex;
        margin-bottom: 1.979166666666667vw;

        div {
            box-sizing: border-box;

            &:nth-child(1) {
                width: 19.53125vw;
                margin-right: 1vw;
            }

            &:nth-child(2) {
                width: 17.44791666666667vw;
            }
        }

        p {
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            font-size: 0.7291666666666667vw;
            color: #FFFFFF;
            margin: 0;
        }
    }

    &__gifts {
        display: flex;

        svg {
            width: 1.354166666666667vw;
            height: 1.041666666666667vw;
            margin-right: 0.8333333333333333vw;
        }

        p {
            margin: 0;
            width: 12.1875vw;
            font-size: 0.7291666666666667vw;
            text-align: center;
            letter-spacing: 0.02em;
            line-height: 1.145833333333333vw;

            b {
                font-weight: 600;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .first-screen-content {
        padding-top: 2.125rem;
        height: 100%;

        .wrapper {
            width: 20rem;
            height: 100%;
            padding: 0 1.375rem;
            box-sizing: border-box;
            flex-direction: column-reverse;
            justify-content: flex-end;
            position: relative;

            &>div {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;
            }
        }

        aside {
            flex-shrink: 0;
            width: 12.5rem;
            overflow: hidden;
            box-sizing: border-box;
            padding: 1.8125rem 2.8125rem 1.5rem 1.4375rem;
            margin-right: 0;
            border-radius: 1.25rem;
            border-bottom-left-radius: 0rem;
            border-bottom-right-radius: 0rem;
            position: relative;
            box-shadow: 0 0 4.6875rem rgba(0, 0, 0, 0.03);
            margin: 0 auto;
            transition: 0.5s;
            transform: translateY(22%);
            position: relative;
            z-index: 10;

            button {
                display: block;
                position: absolute;
                width: 2.0625rem;
                height: 2.0625rem;
                border-radius: 50%;
                top: 1.9375rem;
                right: 0.875rem;
                border: none;
                background: #F38120;
                box-shadow: inset 0px 0px 1.375rem rgba(255, 255, 255, 0.25);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.5s;

                svg {
                    transition: 0.5s;
                    width: 0.5625rem;
                    height: 0.5625rem;
                }
            }

            &.open {
                border-radius: 1.25rem;
                transform: translateY(-60%);

                svg {
                    transform: rotate(45deg);
                    width: 0.75rem;
                    height: 0.75rem;
                }
            }

            div {
                width: 120px;
                margin-bottom: 1.75rem;
                font-size: 0.625rem;
                line-height: 1.0625rem;
            }
        }

        &__title {
            width: 100%;
            font-size: 1.125rem;
            line-height: 1.875rem;
            text-align: center;
            margin-bottom: 0.3125rem;
            order: 1;
        }

        &__subtitle {
            margin-bottom: 1rem;
            order: 2;

            span {
                width: 0.375rem;
                height: 0.375rem;
                box-sizing: border-box;
            }

            p {
                font-size: 0.8125rem;
                line-height: 1rem;
            }

        }

        &__btn-container {
            order: 4;
            flex-direction: column;

            div {
                box-sizing: border-box;

                &:nth-child(1) {
                    width: 17.25rem;
                    margin-right: 0;
                    margin-bottom: 0.75rem;
                }

                &:nth-child(2) {
                    width: 17.25rem;
                }

                p {
                    font-size: 0.625rem;
                    line-height: 1rem;
                }
            }
        }

        &__gifts {
            order: 3;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0.75rem;

            svg {
                width: 0.75rem;
                height: 0.625rem;
                margin: 0;
                margin-bottom: 0.375rem;
            }

            p {
                font-size: 0.5rem;
                line-height: 0.75rem;
                width: 12.1875rem;
            }
        }
    }
}
